# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Environments
.env
__pycache__/
*.pyc
.idea/
.vscode/
.DS_Store
venv/
env/
.venv

# IDE
.vscode/
.idea/

# Logs
*.log

# OS metadata
.DS_Store
Thumbs.db